@using Workflows.Handler.InOuts.Entities;
@model WorkflowWaitEntity
<li>
    @*onclick="toggleView('waits-in-workflow-@Model.Id')"*@
    <div class="w3-card w3-sand w3-padding w3-round">
        <h5 class="w3-text-indigo"><b>@Model.Name</b></h5>
        <span class="@Model.Status">@Model.Status</span>
        <p></p>
    </div>
    <ul id="waits-in-workflow-@Model.Id" class="w3-ul w3-hide w3-show">
        @foreach (var wait in Model.ChildWaits)
        {
            @Html.DisplayFor(x=>wait,wait.GetType().Name.Replace("Entity",""))
        }
    </ul>
</li>