@using Workflows.Handler.UiService.InOuts;
@using Workflows.Handler.InOuts.Entities;
@model WaitTemplate
@{
    var template = new TemplateDisplay(Model);
}

@if (!string.IsNullOrWhiteSpace(template.MatchExpression))
{
    <tr>
        <td><b class="w3-text-blue-gray">Match Expression: </b></td>
        <td>@template.MatchExpression</td>
    </tr>
}
@if (!string.IsNullOrWhiteSpace(template.MandatoryPartExpression))
{
    <tr>
        <td><b class="w3-text-blue-gray">Call Mandatory Parts: </b></td>
        <td>@template.MandatoryPartExpression</td>
    </tr>
}

